# The e-mail of your Fleep account
HUBOT_FLEEP_EMAIL=

# The password of your Fleep account
HUBOT_FLEEP_PASSWORD=

# Specify the log level. Set to "debug" to enable debug mode.
HUBOT_LOG_LEVEL=info
#HUBOT_LOG_LEVEL=debug

# Mark the messages as 'seen' by the bot?
HUBOT_FLEEP_MARK_SEEN=false

# Configuration:
HUBOT_GITLAB_REPO=sameroom/sameroom
HUBOT_GITLAB_URL=https://gitlab.com
# TOKEN from /profile/account
HUBOT_GITLAB_TOKEN=
HUBOT_GITLAB_ISSUE_LINK_IGNORE_USERS="hubot"
