# The e-mail of your Fleep account
HUBOT_FLEEP_EMAIL=

# The password of your Fleep account
HUBOT_FLEEP_PASSWORD=

# Specify the log level. Set to "debug" to enable debug mode.
HUBOT_LOG_LEVEL=info

# Mark the messages as 'seen' by the bot?
HUBOT_FLEEP_MARK_SEEN=true

# Configuration:
HUBOT_GITHUB_REPO=
HUBOT_GITHUB_TOKEN=
#HUBOT_GITHUB_API=
#HUBOT_GITHUB_ISSUE_LINK_IGNORE_USERS=

